.site-header {
	.burger {
		@media screen and (min-width: $lg) {
			display: none;
		}
		.line {
			@apply bg-dark rounded-full;
			width: 35px;
			height: 2px;
		}
		.line-2 {
			margin: 8px 0;
		}
	}

	.main-nav {
		transition: background 0.25s ease;

		&.is-scrolling {
			@apply bg-light;
		}
	}

	.main-menu {
		@apply fixed z-10 inset-0 bg-dark text-light w-full h-full min-h-screen;
		padding: 12vh 15vw;
		// overflow-y: scroll;
		transform: translateX(100%);
		transition: transform 0.65s $ease;

		&.active {
			transform: translateX(0);

			& > .inner-menu {
				opacity: 1;
			}
		}

		@media screen and (min-width: $lg) {
			@apply relative text-dark w-auto h-auto min-h-0 p-0 overflow-visible;
			background: none;
			transition: none;
			transform: translateX(0);
		}

		& > .inner-menu {
			opacity: 0;
			transition: opacity 0.5s 0.25s;
			@media screen and (min-width: $lg) {
				transition: none;
				opacity: 1;
			}
		}

		.btn-close {
			position: absolute;
			z-index: 100;
			top: 0;
			right: 0;
			width: 70px;
			height: 70px;
			background: $pink url("/src/img/icon-close.svg") center center
				no-repeat;
			background-size: 24px 24px;

			@media screen and (min-width: $lg) {
				display: none;
			}
		}

		.btn-back {
			display: none;
			position: absolute;
			z-index: 100;
			top: 0;
			left: 0;
			width: 70px;
			height: 70px;
			background: url("/src/img/icon-back.svg") center center no-repeat;
			background-size: 17px 17px;

			&.active {
				display: block;
				@media screen and (min-width: $lg) {
					display: none;
				}
			}
		}

		nav {
			@apply flex flex-col items-start;

			@media screen and (min-width: $lg) {
				@apply flex-row items-center;
			}

			a,
			button {
				@apply inline-block text-left text-lg;
				padding: 2vh 0;
				transition: color 0.25s;

				@media screen and (min-width: $lg) {
					@apply text-base py-0 px-4 shrink-0;
				}

				&:hover {
					@apply text-pink;
				}
			}

			.btn-sub {
				position: relative;
				padding-right: 25px;

				&::after {
					content: "";
					position: absolute;
					width: 13px;
					height: 13px;
					background: url("/src/img/icon-submenu-mobile.svg");
					background-size: 13px 13px;
					right: 0;
					top: calc(50% - 5px);
				}

				@media screen and (min-width: $lg) {
					padding-right: 17px;
					margin-right: 0.75rem;

					&::after {
						width: 13px;
						height: 9px;
						top: calc(50% - 3px);
						background: url("/src/img/icon-submenu.svg");
						background-size: 13px 9px;
						transition: transform 0.25s ease;
					}

					&.active {
						@apply text-pink;
						&::after {
							transform: rotate(180deg);
						}
					}
				}
			}

			.btn-search {
				width: 25px;
				height: 25px;
				margin-top: 10px;
				background: url("/src/img/icon-search-white.svg") center center
					no-repeat;
				background-size: 25px 25px;

				&::after {
					display: none;
				}

				@media screen and (min-width: $lg) {
					@apply mt-0 ml-2 mr-4;
					background: url("/src/img/icon-search.svg") center center
						no-repeat;
					background-size: 16px 16px;
					transition: background 0.25s;

					&:hover {
						background: url("/src/img/icon-search-pink.svg") center
							center no-repeat;
						background-size: 16px 16px;
					}
				}
			}

			.btn-contact {
				@apply bg-pink text-light absolute bottom-0 left-0 w-full text-base text-center;
				z-index: 1;

				svg {
					display: inline;
					margin-right: 10px;
				}

				&:hover {
					@apply text-light;
					&::after {
						opacity: 1;
					}
				}

				&::after {
					content: "";
					@apply absolute inset-0 w-full h-full opacity-0;
					z-index: -1;
					background: linear-gradient(
						270deg,
						rgba(229, 98, 153, 1) 0%,
						rgba(203, 42, 110, 1) 50%,
						rgba(101, 0, 43, 1) 100%
					);
					transition: opacity 0.25s ease;
				}

				@media screen and (min-width: $lg) {
					@apply relative rounded-lg overflow-hidden w-auto ml-3 py-4 px-6;
				}
			}
		}

		// SUB-MENU
		.submenu {
			@apply fixed z-20 inset-0 bg-dark text-light w-full h-full min-h-screen shadow-2xl;
			visibility: hidden;
			padding: 12vh 15vw;
			overflow: scroll;
			transform: translateX(100%);
			transition: transform 0.65s $ease, visibility 0s linear 0.5s;

			@media screen and (min-width: $lg) {
				@apply absolute w-screen h-auto overflow-auto bottom-auto left-auto bg-light text-dark shadow-none;
				clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
				transform: translateX(0);
				min-height: auto;
				right: -4vw;
				top: calc(100% + 0.75rem);
				padding: 2rem 4vw;
				transition: clip-path 0.65s $ease, visibility 0s linear 0.5s;

				a {
					@apply pl-0 py-3;
				}
			}

			&.submenu-search {
				padding: 12vh 8vw;
				@media screen and (min-width: $lg) {
					padding: 2rem 4vw;
				}
			}

			&.active {
				transform: translateX(0);
				visibility: visible;
				transition: visibility 0s linear 0s, transform 0.65s $ease;

				@media screen and (min-width: $lg) {
					clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
					transition: visibility 0s linear 0s, clip-path 0.65s $ease;
				}

				.inner-submenu,
				.submenu__title,
				.submenu__image {
					opacity: 1;
				}
			}

			.inner-submenu {
				opacity: 0;
				transition: opacity 0.5s 0.25s;

				@media screen and (min-width: $lg) {
					display: grid;
					grid-template-columns: repeat(2, 1fr);
				}
			}

			&__title {
				@apply font-extrabold text-lg;
				margin-bottom: 2vh;
				opacity: 0;
				transition: opacity 0.5s 0.25s;

				@media screen and (min-width: $lg) {
					@apply mb-3;
				}
			}

			&__image {
				display: none;

				@media screen and (min-width: $lg) {
					@apply block ml-auto w-3/5;
					opacity: 0;
					transition: opacity 0.5s 0.25s;
				}

				.img-container {
					@apply block w-full h-0 relative rounded-xl overflow-hidden p-0;
					padding-bottom: 60%;

					img {
						position: absolute;
						width: 100%;
						height: 100%;
						left: 0;
						top: 0;
						object-fit: cover;
						transition: transform 0.5s $ease;
					}
				}

				.btn-secondary {
					// @apply ml-4 mb-3;
					z-index: 2;
					padding-right: 23px;
				}
			}
		}
	}

	.overlay {
		@apply bg-dark fixed inset-0;
		z-index: -1;
		opacity: 0;
		visibility: hidden;
		transition: visibility 0s linear 0.5s, opacity 0.5s;

		@media screen and (min-width: $lg) {
			&.active {
				opacity: 0.3;
				visibility: visible;
				transition: visibility 0s linear 0s, opacity 0.5s;
			}
		}
	}
}
