.section-contact {
	@apply text-light;
	background: $pink;
	background: linear-gradient(
		220deg,
		rgba(229, 98, 153, 1) 0%,
		rgba(203, 42, 110, 1) 50%,
		rgba(101, 0, 43, 1) 100%
	);

	.item-list {
		@media screen and (min-width: $lg) {
			position: relative;

			&::before {
				content: "";
				position: absolute;
				top: -7px;
				left: 0;
				width: 14px;
				height: 14px;
				background: $light;
				border-radius: 100%;
			}
		}
	}
}
