.texte-enrichi {
	.has-small-font-size {
		font-size: 0.75rem !important;
		opacity: 0.5;
	}
	.has-medium-font-size {
		font-size: 1rem !important;
	}
	.has-large-font-size {
		font-size: 1rem !important;
	}
	.has-x-large-font-size {
		font-size: 1rem !important;
	}

	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-extrabold mt-6;
	}

	h2 {
		@apply text-xl mt-16 mb-6;
	}

	h3 {
		@apply text-lg mt-12 mb-6;
	}

	p {
		@apply mt-6;

		a {
			@apply text-pink underline;

			&:hover {
				text-decoration: none;
			}
		}
	}

	ul {
		list-style: disc;
		padding-left: 2rem;

		li {
			@apply mt-3;
		}
	}

	ol {
		li {
			@apply mt-3;
			padding-left: 2rem;
			background: url("/src/img/icon-check.svg") no-repeat;
			background-position: 0 8px;
			background-size: 15px 12px;
		}
	}

	img {
		@apply my-6 w-full rounded-xl;
	}

	&.accroche {
		& > p:first-child {
			@apply text-lg mb-12;
		}
	}

	blockquote {
		border-left: 8px solid $pink;
		padding-left: 2rem;

		p {
			@apply text-lg text-pink mb-0 italic;
		}
		cite {
			@apply opacity-50;
		}
	}
}
