@font-face {
	font-family: "Switzer";
	src: url("../fonts/Switzer-Medium.woff2") format("woff2"),
		url("../fonts/Switzer-Medium.woff") format("woff"),
		url("../fonts/Switzer-Medium.ttf") format("truetype");
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: "Switzer";
	src: url("../fonts/Switzer-Extrabold.woff2") format("woff2"),
		url("../fonts/Switzer-Extrabold.woff") format("woff"),
		url("../fonts/Switzer-Extrabold.ttf") format("truetype");
	font-weight: 800;
	font-display: swap;
	font-style: normal;
}
