::selection {
	background: $pink;
	color: $light;
}

html,
body {
	width: 100%;
	min-height: 100%;
}

html {
	scroll-behavior: initial;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "Switzer", sans-serif;
	font-weight: 500;
	@apply text-base;
}

.container {
	max-width: none;
}

a {
	transition: 0.25s;
}

.fade {
	@media screen and (min-width: $lg) {
		opacity: 0;
	}
}

.screen-reader-text {
	display: none;
}

.img-transition {
	img {
		transition: transform 0.35s $ease;
		transform: scale(1.02);
	}
	&::before {
		content: "";
		@apply absolute inset-0 bg-dark w-full h-full opacity-0;
		z-index: 1;
		transition: opacity 0.3s ease;
	}

	&:hover {
		img {
			transform: scale(1);
		}

		&::before {
			opacity: 0.1;
		}
	}
}

.back-3d {
	z-index: -1;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	margin-top: -20%;

	@media screen and (min-width: $lg) {
		position: absolute;
		top: 0;
		// top: 50%;
		z-index: -1;
		width: 100%;
		margin-top: 0;
		padding-bottom: calc(100% / (16 / 10));
		// transform: translateY(-50%);
	}

	&.back-3d-01 {
		background: url("/src/img/illus/back-3d-01-mobile.jpg") center right
			no-repeat;
		background-size: cover;

		@media screen and (min-width: $lg) {
			background: url("/src/img/illus/back-3d-01.jpg") center right
				no-repeat;
			background-size: cover;
		}
	}
	&.back-3d-02 {
		background: url("/src/img/illus/back-3d-02.jpg") center right no-repeat;
		background-size: cover;
	}
	&.back-3d-03 {
		background: url("/src/img/illus/back-3d-03-mobile.jpg") center right
			no-repeat;
		background-size: cover;

		@media screen and (min-width: $lg) {
			background: url("/src/img/illus/back-3d-03.jpg") center right
				no-repeat;
			background-size: cover;
		}
	}
}

.bg-light-beige {
	background: rgba($beige, 0.12);
}

.bg-light-pink {
	background: rgba($pink, 0.12);
}

.bg-gradient-pink {
	background: $pink;
	background: linear-gradient(
		220deg,
		rgba(229, 98, 153, 1) 0%,
		rgba(203, 42, 110, 1) 50%,
		rgba(101, 0, 43, 1) 100%
	);
}

.bg-lines {
	@media screen and (min-width: $lg) {
		background: url("/src/img/illus/bg-lines.jpg") center center no-repeat;
		background-size: 100%;
	}
}

.img-container-cover {
	@apply relative w-full h-0 overflow-hidden rounded-xl;

	img {
		@apply absolute w-full h-full object-cover;
	}
}

.iframe-container {
	@apply relative w-full h-0;
	padding-bottom: 70%;

	iframe {
		@apply absolute w-full h-full;
	}
}

.page-temoignages iframe {
	@apply rounded-xl;
}
